# Basic Python

## 1. Split this string

Output should be a List: ['Hi', 'there', 'Sam!']

In [31]:
s = "Hi there Sam!"

In [33]:
s.split(' ')

['Hi', 'there', 'Sam!']

## 2. Use .format() to print the following string.

 Output should be: The diameter of Earth is 12742 kilometers.

In [5]:
planet = "Earth"
diameter = 12742

In [6]:
print("the diameter of {} is {} kilometers".format(planet,diameter))

the diameter of Earth is 12742 kilometers

## 3. In this nest dictionary grab the word "hello"

In [9]:
d= {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [10]:
d['k1'][3]['tricky'][3]['target'][3]

'hello'

# Numpy

In [11]:
import numpy as np

## 4.1 Create an array of 10 zeros? 
## 4.2 Create an array of 10 fives?

In [12]:
tenzero=np.zeros(10)
print(tenzero)

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

In [16]:
tenzero=np.ones(10)*5
print(tenzero)

[5. 5. 5. 5. 5. 5. 5. 5. 5. 5.]

## 5. Create an array of all the even integers from 20 to 35

In [48]:
r=np.arange(20,35)

j=0
even=np.arange(20,35)

for i in r:
    if i % 2==0:
     even[j]=i
     j=j+1
        
    else:
     continue
    
print(even)

[20 22 24 26 28 30 32 34 28 29 30 31 32 33 34]

## 6. Create a 3x3 matrix with values ranging from 0 to 8

In [50]:
arr=np.arange(0,9)
arr
arr.reshape(3,3)

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

## 7. Concatenate a and b 
## a = np.array([1, 2, 3]), b = np.array([4, 5, 6])

In [52]:
a=np.array([[1,2,3]])
b=np.array([[4,5,6]])
np.concatenate((a,b),axis=0)

array([[1, 2, 3],
       [4, 5, 6]])

# Pandas

## 8. Create a dataframe with 3 rows and 2 columns

In [53]:
import pandas as pd

In [54]:
height={'Adi':130,'Joy':200,'Sam':170}
weight={'Adi':90,'Joy':70,'Sam':60}

Data_f=pd.DataFrame({'Height':height,'Weight':weight})
Data_f

     Height  Weight
Adi     130      90
Joy     200      70
Sam     170      60

## 9. Generate the series of dates from 1st Jan, 2023 to 10th Feb, 2023

In [57]:
d=pd.date_range(start='01-01-2023',end='02-10-2023')

print(d)

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
               '2023-01-09', '2023-01-10', '2023-01-11', '2023-01-12',
               '2023-01-13', '2023-01-14', '2023-01-15', '2023-01-16',
               '2023-01-17', '2023-01-18', '2023-01-19', '2023-01-20',
               '2023-01-21', '2023-01-22', '2023-01-23', '2023-01-24',
               '2023-01-25', '2023-01-26', '2023-01-27', '2023-01-28',
               '2023-01-29', '2023-01-30', '2023-01-31', '2023-02-01',
               '2023-02-02', '2023-02-03', '2023-02-04', '2023-02-05',
               '2023-02-06', '2023-02-07', '2023-02-08', '2023-02-09',
               '2023-02-10'],
              dtype='datetime64[ns]', freq='D')

## 10. Create 2D list to DataFrame

lists = [[1, 'aaa', 22],
         [2, 'bbb', 25],
         [3, 'ccc', 24]]

In [58]:
lists = [[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]

In [60]:
df=pd.DataFrame(lists,columns=['s1.no','Name','No'])
print(df)

   s1.no Name  No
0      1  aaa  22
1      2  bbb  25
2      3  ccc  24